@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url(./components/hero.css);
@import url(../css/components/header.css);
@import url(./components/features.css);
@import url(./components/feature.css);
@import url(./components/btn.css);
@import url(./components/section.css);
@import url(./components/price.css);
@import url(./components/reviews.css);
@import url(./components/order.css);
ul li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 1100px;
  position: relative;
}

@font-face {
  font-family: "Play";
  src: url(../fonts/Play/Play-Regular.ttf);
}
body {
  color: #666666;
  font-family: "Play";
}

ul li {
  padding: 0px;
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}