$grey: #F5F5F5;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

ul li {
 list-style: none;
}

.container {
    margin: 0 auto;
    width: 1100px;
    position: relative;
}



body {
    color: #666666;
    font-family: 'Play';
}

ul li {
    padding: 0px;
    margin: 0px;
}

ul {
    padding: 0px;
    margin: 0px;
}

.fixed-menu {
    position: fixed;
    top: 20%;
    right: 3%;
}
.fixed-menu__item {
    margin-bottom: 5px;
    &--active {
        .fixed-menu__link{
            border-color: red;
        }
    }
}
.fixed-menu__link {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    position: relative;
    &:before {
        content: "";
        display: block;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #666666;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.fixed-menu__item--active {

}