$grey: #F5F5F5;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

html {
    font-size: rem(18px);
    height: 100%;
}

body {
    color: #666666;
    font-family: 'Play', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    padding: rem(0px);
    margin: rem(0px);
    list-style: none;
}

ul {
    padding: rem(0px);
    margin: rem(0px);
}

.container {
    margin: 0 auto;
    width: 95%;
    max-width: rem(940px);
    position: relative;
}

img {
    max-width: 100%;
    display: block;
}