.benefits {
    position: relative;
    &::before {
        content: url("./../img/Vector\ 2.svg") left bottom rem(-10px) no-repeat;
    }
    @include phones {
        display: flex;
    }
}
.benefits__list {
    display: flex;
    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    margin: 0 3%;
    &:first-child {
        margin-left: rem(0px);
    }
    &:last-child {
        margin-right: rem(0px);
        &:before {
            display: none;
        }
    }
    position: relative;
    &::before {
        content: url(./../img/Combined\ shape\ 2204.png);
        position: absolute;
        top: rem(62px);
        right: rem(-23px);
        transform: translateX(50%);
    }
    @include tablets {
        &::before {
            display: none;
        }
    }
    @include phones {
        padding: 0;
    }
}





