.benefit_title {
    color: black;
    font-weight: 700;
    font-size: rem(24px);
    line-height: rem(28px);
    margin-bottom: rem(7px);
}

.benefit__img-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: rem(128px);
    height: rem(128px);
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    padding: rem(30px);
    margin-bottom: rem(24px);
    @include phones {
        
        padding: 0;
    }

}
.benefit {
    text-align: center;
    @include phones {
        display: flex;
        padding: 0;
        text-align: left;
    }

}
.benefit__desc {
    font-size: rem(16px);
    line-height: rem(19px);
    color: #666666;
}