.features {
    display: flex;
    @include tablets {
        display: none;
    }
    @include phones {
        display: none;
    }
}

.features__item {
    margin-right: rem(33px);
    &:last-child {
        margin-right: rem(0px);
    }
}