.hamburger {
    width: 26px;
    height: 24px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    @include tablets {
        display: inline-flex;
    }
}

.hamburger__plank {
    display: block;
    background: black;
    height: 4px;
    border-radius: 25%;
}