.headline__title {
    margin-bottom: 18px;
    padding-top: 103px;
    color: #292929;
}

.headline__subtitle {
    color: #666666;
    padding: 0 19%;
    font-size: 16px;
    line-height: 19px;
}
.headline {
    text-align: center;
}
