.headline__title {
    margin-bottom: rem(18px);
    padding-top: rem(103px);
    color: #292929;
}

.headline__subtitle {
    color: #666666;
    padding: 0 19%;
    font-size: rem(16px);
    line-height: rem(19px);
    @include phones {
        padding: 0 5%;
    }
}
.headline {
    text-align: center;
    &::before {
        content: url("./../img/Vector\ 2.svg");
        margin-right: auto;
        margin-left: 5%;
    }
}
