.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
}



.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


