
.hero {
    
    background-color: #F5F5F5;
    padding: rem(24px) 0 rem(65px);
    
    &:after, &:before {
        @include tablets {
            display: none;
        }
        @include phones {
            display: none;
        }
    }
    
}



.hero__container {
    background: url("./../img/Ellipse\ 5tablet.png") right 1% center no-repeat;
    @include tablets {
        background: none;
    }
    &:after {
        content: url("./../img/Rectangle\ 14.svg");
        margin-left: auto;
        margin-right: 5%;
    }
}

.hero__main-title {
    font-size: rem(48px);
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: rem(22px);
    text-transform: uppercase;
    font-family: 'Play';
    color: black;
}

.hero__title__desc {
    font-size: rem(21px);
    margin-bottom: rem(36px);
    padding-right: 15%;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: rem(21px);
    line-height: rem(25px);
    @include tablets {
        padding: 0 25%;
    }
    @include phones {
        padding: 0 16%;
    }
}
.hero__title-section {
    width: rem(400px);
    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        &::before {
            content: "";
            height: rem(330px);
            width: rem(316px);
            background: url(./../img/Ellipse\ 5tablet.png) center center / contain no-repeat;
        }
    }
}
