.menu {
    margin: 0 30px;
    padding-top: 5px;
    @include tablets {
        display: none;
    }
    @include phones {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}

.menu__item {
    margin-bottom: 10px;
    margin-right: rem(15px);
    &:last-child {
        margin-right: rem(0px);
    }
    &--link {
        text-decoration: none;
        color: #292929;
    }
}
