
.phone-number {
    font-size: rem(24px);
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #292929;
}

.phone-number__icon {
    height: rem(14px);
    width: rem(14px);
    margin-right: rem(6px);
}
.phone_number_icon {
    width: rem(14px);
    height: rem(78px);
}

.phone-number__text {
    text-decoration: none;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: rem(18px);
    line-height: rem(18px);
    color: #292929;
}
