.price__img {
    width: rem(452px);
    height: rem(452px);
    margin: rem(0px) rem(50px);
}

.price__icon {
    width: rem(91px);
    height: rem(91px);
    border-radius: rem(4px);
    background: #9A9A9A;
    position: relative;
}

.price__icon img {
    margin-top: 25%;
    margin-left: 25%;
}


.price__container {
    display: flex;
}

.price__specs {
    display: flex;
    margin-left: rem(0px);
}

.price__specs li {
    margin-right: rem(50px);
}

.price__text {
    width: rem(420px);
}

.price__text h3 {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: rem(36px);
    line-height: rem(42px);
    text-transform: uppercase;
    color: #292929;
}

.price__specs--item b {
    color: #000000;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: rem(18px);
    line-height: rem(21px);
}

.price__btn {
    display: flex;
}
.price__price {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: rem(36px);
    line-height: rem(60px);

    text-transform: uppercase;

    color: #151515;
    margin-right: rem(13px);
}