.reviews__main-title {
    margin-bottom: rem(32px);
}
.reviews__display {
    background: #F8FAF9;
    padding: rem(42px);
    margin-bottom: rem(16px);
}
.reviews__display-inner {
    display: flex;
}

.reviews__avatar {
    width: rem(253px);
    height: rem(264px);
    margin-right: rem(40px);
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-right: rem(50px);
}

.reviews__content {
    flex: 1;
    max-width: rem(455px);
    padding-top: rem(33px);
}
.reviews__title {
    font-weight: 700;
    font-size: rem(24px);
    line-height: rem(28px);  
    color: #292929;
    margin-bottom: rem(27px);
}

.reviews__text {
    margin-bottom: rem(38px);
    font-size: rem(16px);
    line-height: rem(19px);
    color: #666666;
}

.reviews__author {
    font-weight: 700;
    font-size: rem(18px);
    line-height: rem(21px);
    color: #292929;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
}

.reviews__switcher-item {
    width: rem(74px);
    height: rem(74px);
    position: relative;
    margin-right: rem(6px);
    border-radius: 50%;
    overflow: hidden;
    &:last-child {
        margin-right: 0;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: rem(6px) solid transparent;
    }
    &--active, &:hover{
        &::before {
            border-radius: 50%;
            border-color: red;
        }
    }
}

.reviews__switcher-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}