.reviews__main-title {
    margin-bottom: 32px;
}
.reviews__display {
    background: #F8FAF9;
    padding: 42px;
    margin-bottom: 16px;
}
.reviews__display-inner {
    display: flex;
}

.reviews__avatar {
    width: 253px;
    height: 264px;
    margin-right: 40px;
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-right: 50px;
}

.reviews__content {
    flex: 1;
    max-width: 455px;
    padding-top: 33px;
}
.reviews__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;  
    color: #292929;
    margin-bottom: 27px;
}

.reviews__text {
    margin-bottom: 38px;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
}

.reviews__author {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #292929;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
}

.reviews__switcher-item {
    width: 74px;
    height: 74px;
    position: relative;
    margin-right: 6px;
    border-radius: 50%;
    overflow: hidden;
    &:last-child {
        margin-right: 0;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: 6px solid transparent;
    }
    &--active, &:hover{
        &::before {
            border-radius: 50%;
            border-color: red;
        }
    }
}

.reviews__switcher-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}