.section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
    color: black;
}

.headline__title {
    margin-bottom: 25px;

}

.headline__subtitle {
    color: #666666;
}

.benefit__title {
    color: black;
}

.benefits {
    display: flex;

}

.benefits__item {
    flex: 1;
    margin: 0 3%;
    &:first-child {
        margin-left: 0px;
    }
    &:last-child {
        margin-right: 0px;
        &:before {
            display: none;
        }
    }
    position: relative;
    &::before {
        content: url(../../img/Combined\ shape\ 2204.png);
        position: absolute;
        top: 30px;
        right: 0px;
        transform: translateX(50%);
    }
}

.benefit {
    text-align: center;

}
.benefits__img--wrapper {
    display: inline-block;
    width: 68px;
    height: 68px;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.headline {
    text-align: center;
}

.headline__subtitle {
    padding: 0 26%;
}

.benefits-section {
    position: relative;
    background: url(../../img/Vector\ 2.png) left bottom -10px no-repeat;
}

.section__price {
    background-color: #F2F5F4;
}