.section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title {
    font-size: 48px;
    line-height: 52px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}






.price {
    background-color: #F2F5F4;
}