.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: rem(24px);
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: rem(18px);
  line-height: rem(20px);
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}