.menu__list {
  display: flex;
  align-items: center;
}

.menu__link {
  text-decoration: none;
}

.menu__item {
  margin-right: rem(15px);
}
.menu__item:last-child {
  margin-right: rem(0px);
}
.menu__item--link {
  text-decoration: none;
  color: #292929;
}