.btn {
  font-size: 19px;
  font-weight: bold;
  padding: 18px 35px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
}
.btn__red {
  background-color: #E01F3D;
  color: #fff;
}
.btn__red:hover {
  color: #fff;
  background-color: #CA1B36;
}