
.hero {
    background: url("../../img/Ellipse\ 5.png") left 78% center no-repeat;
    background-color: #F5F5F5;
    height: 100vh;
    min-height: 650px;
}

.hero__main-title {
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hero__title__desc {
    font-size: 21px;
    margin-bottom: 28px;
    padding-right: 10%;
}
.hero__title-section {
    width: 400px;

}